/**
 * Styles
 * ------
 * The primary stylesheet for the application
 */

#app * {
	outline: none;
}

h1,
h2,
h3,
h4 {
	font-family: 'Erica One', cursive;
}
h1 {
	font-size: 4em;
	text-transform: uppercase;
	font-style: italic;
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn {
	margin-bottom: 30px;
	margin-left: 5px;
	margin-right: 5px;
	background: none;
	border: 3px solid #000;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.btn.active {
	color: #fff;
	background: #444;
}

/*-- Song select/preview page --*/
.song-list {
	list-style: none;
	padding-left: 0;
}
.song-list .song {
	border: 1px solid #ccc;
	padding: 15px;
}
.song-list .song:hover {
	background: #efefef;
	cursor: pointer;
}
.song-list .song p {
	padding: 0;
	margin: 0;
}
.song-list .song .play,
.song-list .song .stop {
	float: left;
	font-size: 20px;
	margin-right: 15px;
	cursor: pointer;
}
.song-list .song .play:hover,
.song-list .song .stop:hover {
	color: rgba(255, 100, 100, 1.0);	
}
.song-list .song .stop {
	display: none; /* initialially hide */
}
.song-list .song-link {
}

/*-- Individual song page --*/
#song-info {
	font-size: 16px;
	margin-bottom: 30px;
}
#song-info p {
	margin-bottom: 0;
}
#song-info .scale {
	font-family: 'Erica One', cursive;
	font-size: 24px;
}

#fret-board {
	margin-bottom: 30px;
}
#fret-board .patterns img {
	height: 300px;
	width: auto;
	margin: 0 auto;
}

#audio-controls button {
	margin: 0 auto;
	background: none;
	border: none;
}

#audio-controls button img {
	width: 100%;
	height: auto;
}

#play-btn {
	display: block;
	width: 100px;
	height: 100px;
}

#pause-btn {
	width: 90px;
	height: 90px;
	padding-right: 10px;
	display: none; /* Hide by default */
}

#patreon {
	display: block;
	width: 200px;
	height: auto;
	position: fixed;
	right: 15px;
	bottom: 15px;
}
#patreon img {
	width: 100%;
}

/*-- Bootstrap Carousel --*/
.carousel-control.left, .carousel-control.right {
	color: #000;
	background-image: none
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 3em;
		margin-top: 30px;
	}
	.btn {
		margin-bottom: 30px;
		margin-left: 1px;
		margin-right: 1px;
	}
	#fret-board .patterns img {
		height: auto;
		width: 90%;
		margin: 0 auto;
	}
	#patreon {
		position: relative;
		text-align: center;
		margin: 0 auto;
		margin-top: 75px;
		right: auto;
	}
}
